:root {
  --markdown-content-gap: 5px;
  --markdown-p-pb-raw: 25px;
  --markdown-p-pb: calc(var(--markdown-p-pb-raw) - var(--markdown-content-gap));
}

.md-block {
  display: grid;
  gap: --markdown-content-gap;
  line-height: 1.5;

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: var(--color);
  }

  p {
    font-weight: normal;
    margin-bottom: var(--markdown-p-pb);
  }

  a {
    color: var(--brand-300);
  }
  a:hover {
    text-decoration: underline;
  }

  h1 {
    font-size: var(--step-up-6);
    font-weight: bold;
  }
  h2 {
    font-size: var(--step-up-5);
    font-weight: bold;
  }
  h3 {
    font-size: var(--step-up-4);
    font-weight: bold;
  }
  h4 {
    font-size: var(--step-up-3);
    font-weight: bold;
  }
  h5 {
    font-size: var(--step-up-2);
    font-weight: bold;
  }
  h6 {
    font-size: var(--step-up-1);
    font-weight: bold;
  }

  ol,
  ul {
    list-style: initial;
    list-style-position: outside;
    padding-bottom: var(--markdown-p-pb);
  }
}
