:root {
  // Shadows
  --black: #000000;
  --white: #ffffff;
  // Gray
  --gray-50: #f5f5f5;
  --gray-100: #dedede;
  --gray-200: #c2c2c2;
  --gray-300: #a7a7a7;
  --gray-400: #8c8c8c;
  --gray-500: #737373;
  --gray-600: #5a5a5a;
  --gray-700: #424242;
  --gray-800: #2a2a2a;
  --gray-900: #171717;
  // Red
  --red-50: #ffe5e5;
  --red-100: #fbbaba;
  --red-200: #f28e8e;
  --red-300: #eb6161;
  --red-400: #e43535;
  --red-500: #ca1b1b;
  --red-600: #9e1314;
  --red-700: #710c0e;
  --red-800: #460506;
  --red-900: #1e0000;
  // Orange
  --orange-50: #fff2dc;
  --orange-100: #fddab2;
  --orange-200: #f8c385;
  --orange-300: #f5ab57;
  --orange-400: #f09428;
  --orange-500: #d77a0f;
  --orange-600: #a75f08;
  --orange-700: #784404;
  --orange-800: #4a2800;
  --orange-900: #1e0c00;
  // Yellow
  --yellow-50: #fffadc;
  --yellow-100: #faf0b2;
  --yellow-200: #f6e686;
  --yellow-300: #f2dc57;
  --yellow-400: #eed22a;
  --yellow-500: #d5b811;
  --yellow-600: #a68f08;
  --yellow-700: #766603;
  --yellow-800: #473d00;
  --yellow-900: #1a1400;
  // Green
  --green-50: #e2fbed;
  --green-100: #c2ebd4;
  --green-200: #9fddba;
  --green-300: #7ccf9e;
  --green-400: #58c184;
  --green-500: #3ea76a;
  --green-600: #2e8252;
  --green-700: #1f5d3a;
  --green-800: #0f3921;
  --green-900: #001506;
  // Teal
  --teal-50: #defdf9;
  --teal-100: #bbf1ec;
  --teal-200: #96e5de;
  --teal-300: #6fdad0;
  --teal-400: #49cfc3;
  --teal-500: #30b6aa;
  --teal-600: #208d84;
  --teal-700: #12665e;
  --teal-800: #003e39;
  --teal-900: #001715;
  // Blue
  --blue-50: #e0f4ff;
  --blue-100: #b7ddfa;
  --blue-200: #8ec4f1;
  --blue-300: #63ace8;
  --blue-400: #3995e0;
  --blue-500: #1f7bc6;
  --blue-600: #13609b;
  --blue-700: #084470;
  --blue-800: #002946;
  --blue-900: #000f1d;
  // Cyan
  --cyan-50: #d9fdff;
  --cyan-100: #adf1ff;
  --cyan-200: #7fe8fb;
  --cyan-300: #4fddf8;
  --cyan-400: #24d3f5;
  --cyan-500: #0ab9db;
  --cyan-600: #0090ac;
  --cyan-700: #00677c;
  --cyan-800: #003f4c;
  --cyan-900: #00171c;
  // Purple
  --purple-50: #f0eaff;
  --purple-100: #d1c1f4;
  --purple-200: #b19ae7;
  --purple-300: #9271dc;
  --purple-400: #7248d0;
  --purple-500: #592fb7;
  --purple-600: #45248f;
  --purple-700: #311967;
  --purple-800: #1e0f40;
  --purple-900: #0c031b;
  // Pink
  --pink-50: #ffe7f7;
  --pink-100: #f5bedc;
  --pink-200: #ea95c2;
  --pink-300: #e06ba8;
  --pink-400: #d6438f;
  --pink-500: #bc2975;
  --pink-600: #941e5b;
  --pink-700: #6b1441;
  --pink-800: #420a28;
  --pink-900: #1c010f;
  // Brand
  --brand-50: #ddfff2;
  --brand-100: #b3fbdc;
  --brand-200: #86f6c7;
  --brand-300: #59f3b0;
  --brand-400: #2eef9a;
  --brand-500: #19d681;
  --brand-600: #0ca663;
  --brand-700: #037746;
  --brand-800: #00482a;
  --brand-900: #001a0a;
}
